:root {
  /* Primarne boje */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);

  /* Neutralne boje (Slate) */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* 2. Definiraj BOLD (obično težina 700 ili 800) */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: var(--color-slate-100);
  margin: 0;
  display: flex;
  justify-content: center; /* Centriranje horizontalno */
  align-items: center; /* Centriranje vertikalno */
  min-height: 100vh;
}
.calculator-wrapper {
  background-color: var(--color-white);
  max-width: 1008px;
  width: 90%; /* Na manjim ekranima zauzmi 90% širine da imaš "lufta" sa strana */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-height: 606px;
  border-radius: 24px;
  overflow: hidden;
}
/* Oba dijela neka zauzimaju pola širine (50/50) */
.calculator-form,
.calculator-results {
  flex: 1;
  padding: 40px;
}

.calculator-results {
  background-color: var(--color-slate-900);
  color: var(--color-slate-300);
  border-bottom-left-radius: 80px;
}

.calculator-form {
  display: grid;
  background-color: var(--color-lime);
  grid-template-columns: 1fr 1fr; /* Definiramo dva jednaka stupca */
  gap: 24px; /* Razmak između svih elemenata (vodoravno i okomito) */
}

.form-header {
  display: flex;
  justify-content: space-between; /* Razmakni ih na suprotne krajeve*/
  align-items: center; /* Poravnaj ih po sredini (vertikalno) */
  margin-bottom: 40px; /* Razmak do prvog inputa */
}

.form-header h3 {
  font-size: 24px;
  color: var(--color-slate-900);
  font-weight: 700;
}
